name: Deploy To EC2 (feature/#51)

on:
  push:
    branches:
      - feature/#51 # 나중에 main으로 바꿔야함

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH로 EC2에 접속하기
        uses: appleboy/ssh-action@v1.0.3
        env:
          APPLICATION_PROPERTIES_BASE64: ${{ secrets.APPLICATION_PROPERTIES_BASE64 }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          envs: APPLICATION_PROPERTIES_BASE64
          script_stop: true
          script: |
            cd ~
            if [ ! -d "WEB3_4_Poten_BE" ]; then
              git clone https://github.com/prgrms-web-devcourse-final-project/WEB3_4_Poten_BE.git
            fi

            cd WEB3_4_Poten_BE
            git fetch origin
            git checkout -B feature/#51 origin/feature/#51
            rm -rf src/main/resources/application-secret.yml
            
            echo "$APPLICATION_PROPERTIES_BASE64" | base64 -d > src/main/resources/application-secret.yml

            chmod +x ./gradlew
            ./gradlew clean build -x test

            sudo fuser -k -n tcp 8080 || true

            nohup java -jar build/libs/*SNAPSHOT.jar > ./output.log 2>&1 &

            echo " 배포 완료. 실행 로그:"
            tail -n 50 ./output.log
          
